body {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 0px;
  margin: 0px;
}

.menu {
  width: 20vw;
  min-width: 180px;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.menu ._list {
  flex-grow: 1;
  overflow-y: auto;
}

.menu ._list li {
  list-style: none;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

.doc {
  width: 80vw;
  display: flex;
  flex-direction: column;
  border-left: 2px solid darkgray;
  padding: 10px;
}

.doc ._header {
  height: 10vh;
}

.doc ._content[contentEditable] {
  flex-grow: 1;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  max-width: 800px;
  overflow-y: scroll;
  height: 90vh;
}

.doc ._content[contentEditable] span {
  font-size: 15px !important;
}

.doc ._content:focus {
  outline: none;
}
